@charset "utf-8";
/* CSS Document */

a{
	text-decoration:none;
}


.boxx3{
	width:180px;
	height:330px;
	border:1px solid;
	border-radius:8px;
	border-color:rgb(220,220,220);
	overflow: hidden;
	margin-bottom: 25px;
}
.slide-imgg3{
	width:180px;
	border-color:rgb(200,200,200);
	position:relative;
}
.slide-imgg3 img{

	border-radius:6px;
	width:100%;
	height: 163px;
	object-fit: cover;
	display:block;
	box-sizing: border-box;
}
.detail-boxx3{
	
	height: 300px;
	width: 100%;
	display: block;
	justify-content: center;
	align-items: start;
	
	box-sizing: border-box;
	font-family: calibri;
	text-align:start;
}
.typee3{
	color:rgb(123, 123, 123);
	font-size:12px;
	font-weight;600;
	display: flex;
	flex-direction: column;
	
}
.typee3 a{
	
	margin: 5px 0px;
	color:rgb(123, 123, 123);
	font-size:12px;
	font-weight;600;

	letter-spacing: 0.5px;
	padding-right: 8px;
}
.typee3 span{
	color:rgb(123, 123, 123);
	font-size:12px;
	font-weight;600;
	
	font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;

	font-weight:600;
	box-sizing:border-box;
}
.pricex2{
	color: #333333;
	font-weight: 600;
	font-size: 14px;
font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
	letter-spacing: 0.5px;
}
.overlayy3{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy-btnn3{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btnn3:hover{
	color:#FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}
.overlayy3{
	visibility: hidden;
}
.slide-imgg3:hover .overlayy2{
	visibility: visible;
	animation:fade 0.5s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider3{
	width:77%;
	
	display: block;
	justify-content: center;
	align-items: center;
	margin-bottom:100px;
	margin-left:160px;
	margin-right:160px;
}

.BYLF{
	width:100%;
	display:inline;
	margin-top:100px;
	color:rgb(72,72,72);
    height:38px;
    width:400px;
    font-size:32px;
    font-weight: 700;
    font-family:-apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    box-sizing:border-box;
    letter-spacing: -1px;
	
}