@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

:root {
  --main-color: #fff;
  --black-color: #121212;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s ease;
}

/*! base html codes */
html {
  font-size: 62.5%;

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #fff;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--border);
}

body {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

section {
  padding: 0rem 12rem;
}

.space {
  height: 14rem;
  background-color: var(--main-color);
}
/* header start*/
.nav-list1 {
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-list1 .nav1 a {
  color: rgb(123, 123, 123);
  padding: 0rem 1rem;
}
.nav-list1 .nav1 .hbp {
  color: rgb(255, 96, 0);
}
.nav-list1 .nav1 .gk {
  color: rgb(237, 67, 62);
}
/* header end*/

/* main header start*/

.mainheader {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}
.mainheader .mainlogo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.mainheader .mainlogo img {
  width: 20rem;
}
.mainheader .mainlogo .premiumu {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(255, 96, 0);
}
.mainheader .mainlogo .premiumu span {
  color: rgb(72, 72, 72);
}
.mainheader .mainsearchbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.11rem solid rgb(145, 145, 145);
  border-radius: 0.5rem;
  border-width: 0.25rem;
}
.mainheader .mainsearchbox input {
  width: 40rem;
  height: 4.5rem;
  opacity: 0.35;
  font-size: 1.5rem;
  font-weight: 700;
}
.mainheader .mainsearchbox i {
  font-size: 2.5rem;
  padding: 0rem 1.4rem;
  opacity: 0.2;
}
.mainheader .mainsearchbox button {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  height: 4.5rem;
  width: 10%;
  background-color: rgb(145, 145, 145);
}
.mainheader .mainlocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainheader .mainlocation img {
  width: 4rem;
}
.mainheader .mainlocation .locationaddress .location {
  font-weight: 500;
  color: rgb(72, 72, 72);
  letter-spacing: 0rem;
  font-size: 1.7rem;
}
.mainheader .mainlocation .locationaddress .address {
  font-size: 1.2rem;
  color: rgb(255, 96, 0);
}
.locationangle {
  display: flex;
  align-self: end;
  color: rgb(255, 96, 0);
}
.mainheader .mainaccount {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 15rem;
  height: 4.5rem;
  border: 0.2rem solid rgb(145, 145, 145);
  border-radius: 0.5rem;
}
.mainheader .mainaccount .account {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainheader .mainaccount i {
  color: rgb(145, 145, 145);
}
.mainheader .mainaccount .account .accountname .myaccount {
  color: rgb(72, 72, 72);
  font-size: 1.5rem;
  font-weight: 700;
}
.mainheader .mainaccount i {
  font-size: 2.5rem;
}
.mainheader .mainaccount .account i {
  font-size: 2.5rem;
}
.mainheader .maincart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12rem;
  height: 4.5rem;
  border: 0.2rem solid rgb(145, 145, 145);
  border-radius: 0.5rem;
  background-color: rgb(145, 145, 145);
}
.mainheader .maincart i {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.mainheader .maincart .mycart {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
}

/* main header end */

/* colorful line start */

.colorfulline {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1.2rem 0;
  margin-bottom: 0;
}
.colorfulline .orangeline {
  height: 0.8rem;
  width: 60rem;
  background-color: rgb(255, 96, 0);
}

.colorfulline .cyanline {
  height: 0.8rem;
  width: 60rem;
  background-color: rgb(73, 199, 237);
}
.colorfulline .purpleline {
  height: 0.8rem;
  width: 30rem;
  background-color: rgb(119, 35, 219);
}
.colorfulline .greenline {
  height: 0.8rem;
  width: 30rem;
  background-color: rgb(87, 185, 0);
}
.colorfulline .blackline {
  height: 0.8rem;
  width: 30rem;
  background-color: rgb(93, 25, 106);
}
/* colorful line end */

/* menu items start */

.mainmenuitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  height: 5.5rem;
  width: 100%;
}

.mainmenuitems .mainmenuitemscontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 18rem;
  background-color: rgb(245, 245, 245);
  height: 5.5rem;
  width: 100%;
  color: rgb(100, 100, 100);
}
.mainmenuitems .mainmenuitemscontainer span {
  display: block;
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .electronic {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .fashion {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .homelivingstationeryoffice {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .autogardenconstructionmarket {
  text-align: center;
}

.mainmenuitems .mainmenuitemscontainer .motherbabytoy {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .sportoutdoor {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .cosmeticpersonalcare {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .supermarketpetshop {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .bookmusicmoviehobby {
  text-align: center;
}
.mainmenuitems .mainmenuitemscontainer .borders {
  width: 0.01rem;
  height: 2rem;
  background-color: rgb(100, 100, 100);
  opacity: 0.3;
}

/*mainshow start*/

.mainshow {
  height: 50rem;
  background-size: cover;
  background-image: url("/images/samsunggalaxy.jfif");
  background-repeat: no-repeat;
}
.mainshow .mainshowcontainer {
  margin: 0rem 24rem;
}
.mainshow .mainshowcontainer .showoptions {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}

.mainshow .mainshowcontainer .showoptions .buttons {
  color: #fff;

  margin: 1.5rem 0rem;
  border-radius: 5rem;

  background-color: transparent;
}
.mainshow .mainshowcontainer .showoptions .buttons a {
  color: #fff;
  padding: 1rem 1rem;
  margin: 1.5rem 0rem;
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: transparent;
}
.mainshow .mainshowcontainer .showoptions a.active {
  background-color: white;
  color: black;
  padding: 1rem 1rem;
  margin: 1.5rem 0rem;
  border-radius: 5rem;
}
.mainshow .mainshowcontainer .showscreen {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  background-color: white;
  border-radius: 1rem;
  height: 39rem;
  margin: 0rem 1rem;
}
.mainshow .mainshowcontainer .showscreen .rightshowscreen {
  margin: 0rem 0.3rem;
}
.mainshow .mainshowcontainer .showscreen .rightshowscreen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.mainshow .mainshowcontainer .showscreen .leftshowscreen{
  display: flex;
  flex-direction: column;
  align-items:last baseline;
  width: 40rem;
  height: 35rem;
  padding-left:4rem;
  justify-content:space-between;
}

.mainshow .mainshowcontainer .showscreen .leftshowscreen .startshoppingbutton{
  align-self:self-start;
}
.mainshow .mainshowcontainer .showscreen .leftshowscreen .textsection{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size:1.9rem;
}
.mainshow .mainshowcontainer .showscreen .leftshowscreen .textsection span{
  display: flex;
  align-items: center;
  margin:2rem 0rem;
  font-weight: 500;
  font-size:2.5rem;
}
.mainshow .mainshowcontainer .showscreen .leftshowscreen .startshoppingbutton a {
  align-self:self-end;
  background-color: rgb(119, 35, 219);
  color:white;
  padding: 1.2rem 2rem;
  margin: 1.5rem 0rem;
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.4rem;
  
}
.mainshow .mainshowcontainer .showscreen .leftshowscreen .sharebutton button i{
  background-color: white;
  font-size: 2rem;

}
/*mainshow end*/


/*superpricesuperoffer start*/



.superpricesuperoffer{
  margin:2rem 0rem;
}

.superpricesuperoffer .superpricesuperoffercontainer .superpricetext{
  display:flex;
 
  
  font-weight: 500;
  font-size:3em ;
}

.superpricesuperoffer .superpricesuperoffercontainer .superpricetext .superpriceall{
  color:rgb(246, 109, 0);
  font-size: 1.4rem;
  align-self:flex-end;
}
.superpricesuperoffer .superpricesuperoffercontainer .superpricetext .superpriceall a i{
  color:rgb(246, 109, 0);
}
.superpricesuperoffer .superpricesuperoffercontainer .superpriceimg{

margin:2rem 0rem;



}
.superpricesuperoffer .superpricesuperoffercontainer .superpriceimg img{
  border-radius:1rem;
}
.superpricesuperoffer .superpricesuperoffercontainer .superpricescontainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.4fr));
  
  
}
.superpricesuperoffer .superpricesuperoffercontainer .superpricescontainer .superprices{
  border:0.1rem solid  rgba(72, 72, 72,0.2);
  
  border-radius: 1rem;
  width:22rem;
  margin:2rem 0rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.superpricesuperoffer .superpricesuperoffercontainer .superpricescontainer .superprices .superpricestext{
  text-align: center;
  margin:1rem 0rem;
  color:rgb(72, 72, 72);
  font-size: 1.2rem;
}
.superpricesuperoffer .superpricesuperoffercontainer .superpricescontainer .superprices .superpricesimg img{
  width: 100%;
  object-fit: cover;
  padding:0rem 1rem;
}
.superpricesuperoffer .superpricesuperoffercontainer .superpricescontainer .superprices .superpricesbuttons a{
  display: flex;
  
  justify-content: center;
  font-weight: 700;
  color:rgb(246, 109, 0);
  padding: 1.2rem 2rem;
  margin: 1.5rem 0rem;
  border-radius: 5rem;

  font-size: 1.9rem;
  
}
/*superpricesuperoffer end*/

/*variouspromotions start*/

.variouspromotionssection{
margin:2rem 0rem;
}

.variouspromotionssection .promotionscontainer .promotionstextcontainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.4fr));
  margin:1rem 0rem;
  

}
.variouspromotionssection .promotionscontainer .promotionstextcontainer .promotionstexts{
  color:rgb(72,72,72);
  font-size:2rem;
}
.variouspromotionssection .promotionscontainer .promotionstextcontainer .promotionstexts span{
font-weight: bold;
}

.variouspromotionssection .promotionscontainer .promotionsimgcontainer{
  margin:2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.3fr));
  gap: 0rem;
}
.variouspromotionssection .promotionscontainer .promotionsimgcontainer img{
  border-radius: 1rem;
  margin:0rem 0rem;
  padding:0;
  width:22rem;
}

/*variouspromotions end*/

/*brandyousearch start*/
.brandyousearchsection{

}
.brandyousearchsection .brandyousearchtext{
 font-size:3rem;
 font-weight: 500;
 color:rgb(72,72,72);
 margin:1rem 0rem;

}
.brandyousearchsection .brandyousearchcontainer .brandyousearchimgcontainer{
  display: flex;
  margin:0;
  align-items: center;
  justify-content: space-between;
 
}

.brandyousearchsection  .brandyousearchimgcontainer .brandyouimg img{
  width:15rem;
  margin:2rem 0rem;
  border:0.1rem solid rgba(72,72,72,0.1);
  border-radius:1rem;
  
}
.brandyousearchsection  .brandyousearchimgcontainer {
  display:flex;
  align-items: center;
  justify-content: space-between;
 
}
.brandyousearchsection  .brandyousearchimgcontainer .brandyouimg{

  display: flex;
  flex-direction: column;
  align-items: center;

}
.brandyousearchsection  .brandyousearchimgcontainer .brandyouimg .brandyoutext{
  font-size: 1.4rem;
  font-weight: 500;
  color:rgb(72, 72, 72);
 
}


/*brandyousearch end*/


/*privilege start*/

.privilege .privilegecontainer .privilegetitle{
  font-size:3rem;
 font-weight: 500;
 color:rgb(72,72,72);
 margin:6rem 0rem;
 margin-bottom:2rem;
}
.privilege .privilegecontainer .privilegeimgcontainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.privilege .privilegecontainer .privilegeimgcontainer .privilegeimg img{
  width:15rem;
  height: 8rem;
  object-fit: cover;
  border-radius:1rem;
  border:0.1rem solid rgba(72,72,72,0.1);
  
  margin:2rem 0rem;
}
.privilege .privilegecontainer .privilegeimgcontainer .privilegeimg{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.privilege .privilegecontainer .privilegeimgcontainer .privilegetext{
  font-size: 1.4rem;
  font-weight: 500;
  color:rgb(72, 72, 72);

}
/*privilege end*/

/*namesuggestion start*/


.namesuggestion .namesuggestiontitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}

.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg .suggestionscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg .suggestionscreen .suggestionimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg .suggestionscreen .suggestiontext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg .suggestionscreen .suggestionstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg .suggestionscreen .suggestionstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.namesuggestion .namesuggestioncontainer .namesuggestioncontainerimg .suggestionscreen .suggestionprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}
/*namesuggestion end*/


/*specialdiscount start*/
.specialdiscount .specialdiscounttitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}

.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg .discountscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg .discountscreen .discountimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg .discountscreen .discounttext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg .discountscreen .discountstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg .discountscreen .discountstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.specialdiscount .specialdiscountcontainer .specialdiscountcontainerimg .discountscreen .discountprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*specialdiscount end*/

/*specialbought start*/
.specialbought .specialboughttitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.specialbought .specialboughttitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.specialbought .specialboughtcontainer .specialboughtcontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.specialbought .specialboughtcontainer .specialboughtcontainerimg .boughtscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.specialbought .specialboughtcontainer .specialboughtcontainerimg .boughtscreen .boughtimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.specialbought .specialboughtcontainer .specialboughtcontainerimg .boughtscreen .boughttext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.specialbought .specialboughtcontainer .specialboughtcontainerimg .boughtscreen .boughtstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.specialbought .specialboughtcontainer .specialboughtcontainerimg .boughtscreen .boughtstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.specialbought .specialboughtcontainer .specialboughtcontainerimg .boughtscreen .boughtprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*specialbought end*/


/*chosenforyou start*/

.chosenforyou .chosenforyoutitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.chosenforyou .chosenforyoutitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg .foryouscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg .foryouscreen .foryouimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg .foryouscreen .foryoutext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg .foryouscreen .foryoustars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg .foryouscreen .foryoustars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.chosenforyou .chosenforyoucontainer .chosenforyoucontainerimg .foryouscreen .foryouprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*chosenforyou end*/


/*youvisitedlast start*/

.youvisitedlast .youvisitedlasttitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.youvisitedlast .youvisitedlasttitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg .lastscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg .lastscreen .lastimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg .lastscreen .lasttext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg .lastscreen .laststars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg .lastscreen .laststars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.youvisitedlast .youvisitedlastcontainer .youvisitedlastcontainerimg .lastscreen .lastprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*youvisitedlast end*/


/*premiumopportunities start*/

.premiumopportunities .premiumopportunitiestitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.premiumopportunities .premiumopportunitiestitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg .premiumscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg .premiumscreen .premiumimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg .premiumscreen .premiumtext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg .premiumscreen .premiumstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg .premiumscreen .premiumstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.premiumopportunities .premiumopportunitiescontainer .premiumopportunitiescontainerimg .premiumscreen .premiumprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*premiumopportunities end*/


/*everyoneafter start */
.everyoneafter .everyoneaftertitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.everyoneafter .everyoneaftertitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg .everyonescreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg .everyonescreen .everyoneimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg .everyonescreen .everyonetext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg .everyonescreen .everyonestars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg .everyonescreen .everyonestars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.everyoneafter .everyoneaftercontainer .everyoneaftercontainerimg .everyonescreen .everyoneprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}


/*everyoneafter end */


/*bookcases start */


.bookcases .bookcasestitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.bookcases .bookcasestitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.bookcases .bookcasescontainer .bookcasescontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookcases .bookcasescontainer .bookcasescontainerimg .booksscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.bookcases .bookcasescontainer .bookcasescontainerimg .booksscreen .booksimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.bookcases .bookcasescontainer .bookcasescontainerimg .booksscreen .bookstext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.bookcases .bookcasescontainer .bookcasescontainerimg .booksscreen .booksstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.bookcases .bookcasescontainer .bookcasescontainerimg .booksscreen .booksstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.bookcases .bookcasescontainer .bookcasescontainerimg .booksscreen .booksprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*bookcases end */


/*dailyneeds start */

.dailyneeds .dailyneedstitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.dailyneeds .dailyneedstitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg .needsscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg .needsscreen .needsimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg .needsscreen .needstext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg .needsscreen .needsstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg .needsscreen .needsstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.dailyneeds .dailyneedscontainer .dailyneedscontainerimg .needsscreen .needsprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*dailyneeds end */


/*popularcategories start */
.popularcategories .popularcategoriestitle{
  font-size:3rem;
  font-weight: 500;
  color:rgb(72,72,72);
  margin:6rem 0rem;
  margin-bottom:2rem;
}
.popularcategories .popularcategoriestitle .bottomtext{
  font-size:1.4rem;
  font-weight: 400;
}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg .popularscreen{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:30rem;
  width:16rem;
  border:0.1rem solid rgba(72,72,72,0.1);
   border-radius:1rem;
}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg .popularscreen .popularimg img{
  object-fit: cover;
  width:100%;
  display: flex;
  align-self: center;
}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg .popularscreen .populartext{
  color:rgb(123,123,123);
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: left;
  margin-left:1.4rem;
  font-weight: 600;

}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg .popularscreen .popularstars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg .popularscreen .popularstars .stars{
  text-align:center;
  color:rgb(255, 234, 0);
}
.popularcategories .popularcategoriescontainer .popularcategoriescontainerimg .popularscreen .popularprices{
  text-align: left;
  margin-left:1.4rem;
  color:rgb(72,72,72);
  font-size: 1.4rem;
  font-weight: 600;
}

/*popularcategories end */


/*lastpage start */


.lastlogo{
  margin-top:8rem;
}
.lastlogo a img{
  width:16rem;
  height: 2.8rem;
}
.orderservice{
  display: flex;
  justify-content: right;
}
.orderservice .myorders a{
  font-size:1.4rem;
  color:rgba(72, 72, 72, 0.6);
  padding-right: 2rem;
  border-right:0.2rem solid rgba(72,72,72,0.8);
  font-weight: 600;
}
.orderservice .customerservices a{
  font-size:1.4rem;
  color:rgba(72, 72, 72, 0.6);
  padding-left: 2rem;
  
  font-weight: 600;
}


.lastfour{

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top:10rem;
  margin-bottom:10rem;
}

.lastfour a .yk{
   display: flex;
    flex-direction: column;
   justify-content:space-between;
   align-items: center;
   height:20rem;
   width:25rem;
   position:relative;

 

} 
.lastfour a{
  color:rgba(72, 72, 72, 0.6);
}
/* for right borders */
.lastfour a .yk:after{
  content:"";
  position:absolute;
  top:20%;
  right:-11%;
  width:0.1rem;
  height:80%;
  background-color: rgba(72,72,72,0.1);
}
.lastfour a .yk .yktext{
  font-size:1.5rem;
  font-weight: 500;
  color:rgb(72,72,72);
  text-align: center;
  margin-bottom:3rem;
}

.lastfour a .yk .ykimg img{
  width:20rem;
  object-fit: cover;
  margin-bottom:3rem;
  position:relative;
  padding-right:4rem;
  padding-left:4rem;
 
  
}

.lastfour a .yk .ykparagraph{
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color:rgb(0,0,0);
}
/* ttga*/
.lastfour a .ttga{
  display: flex;
   flex-direction: column;
  justify-content:space-between;
  align-items: center;
  height:20rem;
  width:25rem;
  position:relative;
  



}
/* for right borders */
.lastfour a .ttga:after{
 content:"";
 position:absolute;
 top:20%;
 right:-11%;
 width:0.1rem;
 height:80%;
 background-color: rgba(72,72,72,0.1);
}
.lastfour a .ttga .ttgatext{
 font-size:1.5rem;
 font-weight: 500;
 color:rgb(72,72,72);
 text-align: center;
 margin-bottom:3rem;
}

.lastfour a .ttga .ttgaimg img{
 width:20rem;
 object-fit: cover;
 margin-bottom:3rem;
 position:relative;
 padding-right:4rem;
 padding-left:4rem;

 
}

.lastfour a .ttga .ttgaparagraph{
 font-size: 1.4rem;
 font-weight: 400;
 text-align: center;
 color:rgb(0,0,0);
}
/* mc*/
.lastfour a .mc{
  display: flex;
   flex-direction: column;
  justify-content:space-between;
  align-items: center;
  height:20rem;
  width:25rem;
  position:relative;
  



}
/* for right borders */
.lastfour a .mc:after{
 content:"";
 position:absolute;
 top:20%;
 right:-11%;
 width:0.1rem;
 height:80%;
 background-color: rgba(72,72,72,0.1);
}
.lastfour a .mc .mctext{
 font-size:1.5rem;
 font-weight: 500;
 color:rgb(72,72,72);
 text-align: center;
 margin-bottom:3rem;
}

.lastfour a .mc .mcimg img{
 width:20rem;
 object-fit: cover;
 margin-bottom:3rem;
 position:relative;
 padding-right:4rem;
 padding-left:4rem;

 
}

.lastfour a .mc .mcparagraph{
 font-size: 1.4rem;
 font-weight: 400;
 text-align: center;
 color:rgb(0,0,0);
}
/*ki*/

.lastfour a .ki{
  display: flex;
   flex-direction: column;
  justify-content:space-between;
  align-items: center;
  height:20rem;
  width:25rem;
  position:relative;
  



}


.lastfour a .ki .kitext{
 font-size:1.5rem;
 font-weight: 500;
 color:rgb(72,72,72);
 text-align: center;
 margin-bottom:3rem;
}

.lastfour a .ki .kiimg img{
 width:20rem;
 object-fit: cover;
 margin-bottom:3rem;
 position:relative;
 padding-right:4rem;
 padding-left:4rem;

 
}

.lastfour a .ki .kiparagraph{
 font-size: 1.4rem;
 font-weight: 400;
 text-align: center;
 color:rgb(0,0,0);
}
.thinline .line{
  height: 0.1rem;
  background-color: rgba(72,72,72,0.2);
  margin-bottom:5rem;
}
/*lastpage end */


/*lastlisthepsiburada start*/


.lastlists{
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.lastlists ul li{
  list-style-type: none;
}
.lastlists .hepsiburadaandinstitutional .hepsiburadalist .hepsiburadalisttitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .hepsiburadaandinstitutional .hepsiburadalist ul li{
 margin-bottom:1rem;
}
.lastlists .hepsiburadaandinstitutional .hepsiburadalist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
 


}


/*lastlisthepsiburada end*/

/*lastlistinstitutional start*/
.lastlists .hepsiburadaandinstitutional .institutionallist .institutionallisttitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .hepsiburadaandinstitutional .institutionallist ul li{
  margin-bottom:1rem;
 }

 .lastlists .hepsiburadaandinstitutional .institutionallist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
 


}


/*lastlistinstitutional end*/


/*lastlistcategories start*/
.lastlists .categoriesandpopularphones .categorieslist .categorieslisttitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .categoriesandpopularphones .categorieslist ul li{
  margin-bottom:1rem;
}
.lastlists .categoriesandpopularphones .categorieslist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}

/*lastlistcategories end*/


/*lastlistpopularphones start*/
.lastlists .categoriesandpopularphones .popularphones .popularphonestitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .categoriesandpopularphones .popularphones ul li{
  margin-bottom:1rem;
}
.lastlists .categoriesandpopularphones .popularphones ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}

/*lastlistpopularphones end*/


/*lastlistspecialpages start*/
.lastlists .specialpagesandpopularbrands .specialpageslist .specialpageslisttitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .specialpagesandpopularbrands .specialpageslist ul li{
  margin-bottom:1rem;
}
.lastlists .specialpagesandpopularbrands .specialpageslist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}

/*lastlistspecialpages end*/

/*lastlistpopularbrands start*/
.lastlists .specialpagesandpopularbrands .popularbrandslist .popularbrandstitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .specialpagesandpopularbrands .popularbrandslist ul li{
  margin-bottom:1rem;
}
.lastlists .specialpagesandpopularbrands .popularbrandslist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}
/*lastlistpopularbrands end*/


/*lastlistfollowus start*/
.lastlists .followusandpayment .followuslist .followuslisttitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .followusandpayment .followuslist ul li{
  margin-bottom:1rem;
}
.lastlists .followusandpayment .followuslist ul li i{
  font-size: 2rem;
  border:1rem solid rgb(125,125,125);
  border-radius:5rem;
  background-color: rgb(125,125,125);
  color:white;
 
}
.lastlists .followusandpayment .followuslist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}

/*lastlistfollowus end*/

/*lastlistpayment start*/

.lastlists .followusandpayment .payment .paymenttitle{
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .followusandpayment .payment ul li{
  margin-bottom:1rem;
}
.lastlists .followusandpayment .payment ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}

/*lastlistpayment end*/


/*lastlistquestions start*/
.lastlists .questionmobilappwearingfans {
  display:flex;
  flex-direction: column;
  gap:2rem;
}
.lastlists .questionmobilappwearingfans .questionslist .questionlisttitle{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.lastlists .questionmobilappwearingfans .questionslist ul li{
  margin-bottom:1rem;
}
.lastlists .questionmobilappwearingfans .questionslist ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}
.lastlists .questionmobilappwearingfans .questionslist .connectcustomerservice{
  color:rgb(125,125,125);
  font-size: 1.2rem;
  font-weight: 500;
  border:0.1rem solid gray;
  border-radius:0.4rem;
  display: flex;
  margin:2rem 0rem;
  justify-content: center;
  padding:0.9rem 1.3rem;
}
.lastlists .questionmobilappwearingfans .questionslist .or{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:2rem;
}

.lastlists .questionmobilappwearingfans .questionslist .leftor{
  height: 0.1rem;
  width: 7rem;
  background-color: rgba(125,125,125,0.4);
}
.lastlists .questionmobilappwearingfans .questionslist .or .ortext{
  font-size: 1.6rem;
  color: rgba(125,125,125,0.9);
}
.lastlists .questionmobilappwearingfans .questionslist .rightor{
  height: 0.1rem;
  width: 7rem;
  background-color: rgba(125,125,125,0.4);
}
.lastlists .questionmobilappwearingfans .questionslist .customerservices{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:2rem;
  align-items: center;
}
.lastlists .questionmobilappwearingfans .questionslist .customerservices .text{
  font-size: 1.3rem;
  color:rgb(72, 72, 72);
}
.lastlists .questionmobilappwearingfans .questionslist .customerservices .number{
  font-size: 2.4rem;
  color:rgb(72, 72, 72);
  font-weight: 600;
}
.lastlists .questionmobilappwearingfans .questionslist .customerservices .whatsapp{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lastlists .questionmobilappwearingfans .questionslist .customerservices .whatsapp .text{
font-size: 1.8rem;
}
.lastlists .questionmobilappwearingfans .questionslist .customerservices .whatsapp i{

  
  font-size:2.5rem;
  color: rgb(13, 242, 13);
}

.lastlists .questionmobilappwearingfans .mobilapp{
  
 
}
.lastlists .questionmobilappwearingfans .mobilapp .mobilapptitle{
  font-size: 1.4rem;
  font-weight: 500;
}
.lastlists .questionmobilappwearingfans .mobilapp .appstore {
  opacity:0.7;
  color:rgb(125,125,125);
  font-size: 1.2rem;
  font-weight: 500;
  border:0.1rem solid gray;
  border-radius:0.4rem;
  display: flex;
  margin:1rem 0rem;
  justify-content: center;
  padding:0.9rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lastlists .questionmobilappwearingfans .mobilapp .appstore div{
  
}
.lastlists .questionmobilappwearingfans .mobilapp .appstore i{
  font-size:2rem;
 
}
.lastlists .questionmobilappwearingfans .mobilapp .appstore div{
  font-weight: 600;
}
.lastlists .questionmobilappwearingfans .mobilapp .googleplay{
  opacity:0.7;
  color:rgb(125,125,125);
  font-size: 1.2rem;
  font-weight: 500;
  border:0.1rem solid gray;
  border-radius:0.4rem;
 
  margin:1rem 0rem;
  padding:0.9rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lastlists .questionmobilappwearingfans .mobilapp .googleplay i{
  font-size:2rem;
  
}
.lastlists .questionmobilappwearingfans .mobilapp .appgallery{
  opacity:0.7;
  color:rgb(125,125,125);
  font-size: 1.2rem;
  font-weight: 500;
  border:0.1rem solid gray;
  border-radius:0.4rem;
  display: flex;
  margin:1rem 0rem;
  justify-content: center;
  padding:0.9rem 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.lastlists .questionmobilappwearingfans .mobilapp .appgallery i{
  font-size:2rem;
 
}
.lastlists .questionmobilappwearingfans .mobilapp .appgallery:hover{
  opacity: 1;
}
.lastlists .questionmobilappwearingfans .mobilapp .googleplay:hover{
  opacity: 1;
}
.lastlists .questionmobilappwearingfans .mobilapp .appstore:hover{
  opacity: 1;
}


.lastlists .wearing .wearingtitle {
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .wearing ul li{
  margin-bottom:1rem;
}
.lastlists .wearing  ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}
.lastlists .fans .fanstitle {
  font-size: 1.5rem;
  font-weight: 500;
}
.lastlists .fans ul li{
  margin-bottom:1rem;
}
.lastlists .fans  ul li a{
  color:rgba(72,72,72,0.6);
  font-size: 1.2rem;
  font-weight: 500;
}
/*lastlistquestions end*/


/*copyright start*/

.copyright{
  height: 11.2rem;
  padding-top:2rem;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.copyright .left .top{
  display: flex;
  align-items: center;
  
  
}
.copyright .left .top a img{
  width: auto;
  height: 3.5rem;
  margin-right: 1rem;

}
.copyright .left .bottom{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  
  
}
.copyright .left .bottom a img{
  width: auto;
  height: 3.7rem;
  margin-right: 1rem;

}
.copyright .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:2.2rem;
  padding-right: 22rem;
}
.copyright .right .top a img{
  width: auto;
  height: 1.3rem;
  margin-right: 1rem;

}
.copyright .right .bottom .text{
  font-size: 1.2rem;
}
.copyright .right .bottom .text span{
  color:rgb(145,145,145);
}
/*copyright end*/